<div ng-if="reservation">

  <h4>reservation {{reservation | json:4}}</h4>
  <h4>daysStaying {{daysStaying}}</h4>
  <h4>guests {{reservation.guests}}</h4>
  <h4>rooms {{reservation.rooms}}</h4>
  <h4>valid {{ reservationForm.$valid }}</h4>
  in min={{inMinDate}} max={{inMaxDate}}
  out min={{outMinDate}} max={{outMaxDate}}
</div>

<div layout="row">
  <div flex="10" flex-sm="0"></div>
  <md-card flex>
    <md-content class="md-padding">
      <form novalidate name="reservationForm">
        <div ng-if="reservation" layout="column">
          <div layout layout-sm="column">
            <md-input-container flex>
              <label>Check In Date</label>
              <input type="date" ng-model="reservation.checkIn" min="{{inMinDate}}" max="{{inMaxDate}}" ng-change="inDateChange()" required ng-disabled="hasCheckedIn()">
            </md-input-container>
            <md-input-container flex>
              <label>Check Out Date</label>
              <input type="date" ng-model="reservation.checkOut"  min="{{outMinDate}}" max="{{outMaxDate}}" ng-change="outDateChange()" required ng-disabled="hasCheckedOut()">
            </md-input-container>
          </div>
          <div layout layout-sm="column">
            <md-input-container>
              <label>Rate Per Night</label>
              <input type="number" min="0" max="500" ng-model="reservation.rate" required ng-disabled="hasCheckedOut()">
            </md-input-container>
            <md-input-container>
              <label>Tax Rate</label>
              <input type="number" min="0" max="100" ng-model="reservation.taxRate" required ng-disabled="hasCheckedOut()">
            </md-input-container>
            <div layout="column">
              <label>Total Stay:</label>
              <label>{{reservation.rate * reservation.roomsRequested * daysStaying | currency:"$"}}</label>
            </div>
          </div>
          <div layout layout-sm="column">
            <md-radio-group ng-model="reservation.paymentType" required>
              <label>Payment Type</label>
                <div layout layout-sm="column">
                  <md-radio-button ng-repeat="type in paymentTypes"
                                   ng-value="type.value"
                                   ng-disabled="hasCheckedOut()">
                      {{ type.label }}
                  </md-radio-button>
                </div>
            </md-radio-group>
          </div>
          <div layout layout-sm="column">
            <p>Guest:</p>
            <div layout="row" ng-repeat="guest in reservation.guests">
              <md-button class="md-raised anandcard" ng-click="updateGuest($event, guest)" ng-disabled="hasCheckedOut()">
                {{guest.firstName}}
                <div class="a-remove-container">
                  <button ng-click="removeGuest($event, guest)" ng-show="!hasCheckedOut()" class="xbox">
                    <md-icon md-svg-icon="close"></md-icon>
                  </button>
                </div>
              </md-button>
            </div>
            <md-button class="md-raised md-fab md-mini" ng-click="addGuest($event)" ng-show="!hasCheckedOut()">+</md-button>
          </div>
          <div layout layout-sm="column">
            <p>Rooms</p>
            <div layout="row" ng-repeat="room in reservation.rooms" >
              <md-button class="md-raised" ng-click="updateRoom($event)" ng-disabled="hasCheckedOut()">
                {{room.number}}
                <div class="a-remove-container">
                  <button ng-click="removeRoom($event, room)" ng-show="!hasCheckedOut()" class="xbox">
                    <md-icon md-svg-icon="close"></md-icon>
                  </button>
                </div>
              </md-button>
            </div>
            <md-button class="md-raised md-fab md-mini" ng-click="selectRoom($event)" ng-show="!hasCheckedOut()">+</md-button>
          </div>
          <div layout="row">
            <md-input-container flex>
              <label>Comments</label>
              <input ng-model="reservation.comment">
            </md-input-container >
          </div>
          <div layout="row">
            <md-button class="md-raised md-primary" ng-show="isNewReservation" ng-click="create($event)" flex>create</md-button>
            <md-button class="md-raised md-primary" ng-show="!isNewReservation && !hasCheckedOut()" ng-click="update($event)" flex>update</md-button>
            <md-button class="md-raised md-primary" ng-show="isChecking()" ng-click="checkIn($event)" flex>Check In</md-button>
            <md-button class="md-raised md-primary" ng-show="isCheckout()" ng-click="checkOut($event)" flex>Check Out</md-button>
            <md-button class="md-raised" ng-click="cancel($event)" ng-show="!isNewReservation && !hasCheckedOut()" flex="20">cancel</md-button>
            <md-button class="md-raised" ng-click="goBack()" flex="hasCheckedOut() ? 100 : 20">back</md-button>
          </div>
        </div>
      </form>
    </md-content>
  </md-card>
  <div flex="10"flex-sm="0"></div>
</div>