<div ng-if="reservation">

  <h4>reservation {{reservation | json:4}}</h4>
  <h4>daysStaying {{daysStaying}}</h4>
  <h4>guests {{reservation.guests}}</h4>
  <h4>rooms {{reservation.rooms}}</h4>
  <h4>valid {{ reservationForm.$valid }}</h4>
  in min={{inMinDate}} max={{inMaxDate}}
  out min={{outMinDate}} max={{outMaxDate}}
</div>

<div layout="row">
  <div flex="30" flex-sm="0"></div>
  <md-card flex>
    <md-content class="md-padding">
      <form novalidate name="reservationForm">
        <div ng-if="reservation" layout="column">
          <md-input-container flex>
            <label>Check In Date</label>
            <input type="date" ng-model="reservation.checkIn" min="{{inMinDate}}" max="{{inMaxDate}}" ng-change="inDateChange()" required ng-disabled="hasCheckedIn()">
          </md-input-container>
          <div layout layout-sm="column">
          </div>
          <md-input-container flex>
            <label>Check Out Date</label>
            <input type="date" ng-model="reservation.checkOut"  min="{{outMinDate}}" max="{{outMaxDate}}" ng-change="outDateChange()" required ng-disabled="hasCheckedOut()">
          </md-input-container>
          <div layout layout-sm="column">
            <md-input-container>
              <label>Rate Per Night</label>
              <input type="number" min="0" max="500" ng-model="reservation.rate" required ng-disabled="hasCheckedOut()">
            </md-input-container>
            <md-input-container>
              <label>Tax Rate</label>
              <input type="number" min="0" max="100" ng-model="reservation.taxRate" required ng-disabled="hasCheckedOut()">
            </md-input-container>
            <div layout="column">
              <label>Total Stay:</label>
              <label>{{reservation.rate * reservation.roomsRequested * daysStaying * (reservation.taxRate / 100)| currency:"$"}}</label>
            </div>
          </div>
          <div layout layout-sm="column">
            <md-radio-group ng-model="reservation.paymentType" required>
              <label>Payment Type</label>
                <div layout layout-sm="column">
                  <md-radio-button ng-repeat="type in paymentTypes"
                                   ng-value="type.value"
                                   ng-disabled="hasCheckedOut()">
                      {{ type.label }}
                  </md-radio-button>
                </div>
            </md-radio-group>
          </div>
          <div layout layout-sm="column">
            <p>Guest:</p>
            <md-chips class="custom-chips" ng-model="reservation.guests" readonly="true">
              <md-chip-template>
                <span>
                  <strong>{{$chip.firstName}}</strong>
                </span>
              </md-chip-template>
              <button md-chip-remove class="md-primary vegetablechip">
                <md-icon md-svg-icon="md-close"></md-icon>
              </button>
            </md-chips>
            <md-button class="md-raised" ng-click="addGuest($event)" ng-show="!hasCheckedOut()">ADD GUEST</md-button>
          </div>
          <div layout layout-sm="column">
            <p>Rooms</p>
            <md-chips class="custom-chips" ng-model="reservation.rooms" readonly="true">
              <md-chip-template>
                <span>
                  <strong>{{$chip.number}}</strong>
                </span>
              </md-chip-template>
              <button md-chip-remove class="md-primary vegetablechip">
                <md-icon md-svg-icon="md-close"></md-icon>
              </button>
            </md-chips>
            <md-button class="md-raised" ng-click="addGuest($event)" ng-show="!hasCheckedOut()">ADD ROOM</md-button>
          </div>
          <div layout="row">
            <md-input-container flex>
              <label>Comments</label>
              <input ng-model="reservation.comment">
            </md-input-container >
          </div>
          <md-button class="md-raised md-primary" ng-show="isNewReservation" ng-click="create($event)">create</md-button>
          <md-button class="md-raised md-primary" ng-show="!isNewReservation && !hasCheckedOut()" ng-click="update($event)">update</md-button>
          <md-button class="md-raised md-primary" ng-show="isChecking()" ng-click="checkIn($event)">Check In</md-button>
          <md-button class="md-raised md-primary" ng-show="isCheckout()" ng-click="checkOut($event)">Check Out</md-button>
          <md-button class="md-raised md-error" ng-click="cancel($event)" ng-show="!isNewReservation && !hasCheckedOut()">cancel</md-button>
          <md-button class="md-raised" ng-click="goBack()">back</md-button>
        </div>
      </form>
    </md-content>
  </md-card>
  <div flex="30"flex-sm="0"></div>
</div>