<div layout="column">
  <md-card ng-repeat="reservation in reservations" ng-click="go(reservation._id)" class='normalCard'>
    <md-content class="md-padding">
    <div layout layout-sm="column">
      <div class="md-tile-content" flex>
        <p>Check In Date</p>
        <h3>{{reservation.checkIn | date:'medium'}}</h3>
      </div>
      <div class="md-tile-content" flex>
        <p>Check Out Date</p>
        <h3>{{reservation.checkOut | date:'medium'}} </h3>
      </div>
    </div>
    <div layout layout-sm="column">
      <div class="md-tile-content" flex>
        <p>Rate</p>
        <h3>{{reservation.rate | currency:"USD$":0}}</h3>
      </div>
      <div class="md-tile-content" flex>
        <p>Tax Rate</p>
        <h3>{{reservation.taxRate | currency:"USD$":0}}</h3>
      </div>
      <div layout="column">
        <p>Total Stay</p>
        <h3>{{reservation.rate * reservation.roomsRequested * reservation.daysStaying * (reservation.taxRate / 100)| currency:"$"}}</h3>
      </div>
      <div class="md-tile-content" flex>
        <p>Payment Type</p>
        <h3>{{reservation.paymentType | f_paymentType}}</h3>
      </div>
      <div class="md-tile-content" flex>
        <p>Status</p>
        <h3>{{reservation.status | f_status}}</h3>
      </div>
      <div class="md-tile-content" flex>
        <p>Number Of Rooms Requested</p>
        <h3>{{reservation.roomsRequested}}</h3>
      </div>
    </div>
    <div layout layout-sm="column">
      <div class="md-tile-content" flex>
        <p>Guest</p>
        <md-button class="md-raised" ng-repeat="guest in reservation.guests" ng-click="updateGuest($event, guest)" >{{guest.firstName}}</md-button>
      </div>
    </div>
    <div>
      <div class="md-tile-content" flex>
        <p>Rooms</p>
        <md-button class="md-raised" ng-repeat='room in reservation.rooms' ng-click="updateRoom($event)">{{room.number}}</md-button>
      </div>
    </div>
    <div layout layout-sm="column">
      <div class="md-tile-content" flex>
        <p>Comments</p>
        <h3>{{reservation.comment}}</h3>
      </div>
    </div>
    </md-content>
  </md-card>
</div>