<div layout="column" layout-align="center center">
  <md-card>
    <md-content class="md-padding">
      <form name="roomForm">
        <div layout layout-sm="column">
          <div class="md-tile-content" ng-show="!isNew" flex>
            <p>Room Number</p>
            <h3>{{room.number}}</h3>
          </div>
          <md-input-container ng-show="isNew">
            <label>Room Number</label>
            <input type="number" min="0" max="500" ng-model="room.number" ng-required="isNew">
          </md-input-container>
          <div class="md-tile-content" flex>
            <p>beds:</p>
            <md-radio-group ng-model="room.beds">
              <md-radio-button ng-repeat="type in bedTypes" ng-value="type" required> {{type | f_bedTypes}} </md-radio-button>
            </md-radio-group>
          </div>
          <div class="md-tile-content" flex>
            <p>Status</p>
            <md-radio-group ng-model="room.status">
              <md-radio-button ng-repeat="status in status" ng-value="status" required> {{status | f_status}} </md-radio-button>
            </md-radio-group>
          </div>
          <div class="md-tile-content" flex>
            <p>Smoking</p>
            <md-checkbox ng-model="room.smoking" aria-label="smoking"></md-checkbox>
          </div>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label>Comment</label>
            <input ng-model='room.comment' type='text'></input>
          </md-input-container>
        </div>
      </form>
    </md-content>
    <div layout="row">
      <md-button class="md-raised md-primary" ng-click="update()" flex>SAVE</md-button>
      <md-button class="md-raised" ng-click="goBack()" flex>Back</md-button>
    </div>
  </md-card>
</div>