<md-dialog aria-label="input guest">
    <md-content>
      Search: <input ng-model="searchText">
    </md-content>
    <md-content styd>
      <md-card ng-repeat="guest in guests | filter:searchText" ng-click="select(guest)">
        <div layout layout-sm="column">
          <div class="md-tile-content" flex>
            <p>First Name</p>
            <h3>{{guest.firstName}}</h3>
          </div>
          <div class="md-tile-content" flex>
            <p>Last Name </p>
            <h3>{{guest.lastName}}</h3>
          </div>
        </div>
        <div layout layout-sm="column">
          <div class="md-tile-content" flex>
            <p>Address</p>
            <h3>{{guest.address}}</h3>
          </div>
          <div class="md-tile-content" flex>
            <p>City</p>
            <h3>{{guest.city}}asdf</h3>
          </div>
          <div class="md-tile-content" flex>
            <p>State</p>
            <h3>{{guest.state}}asdf</h3>
          </div>
          <div class="md-tile-content" flex>
            <p>Postal Code</p>
            <h3>{{guest.postalCode}}</h3>
          </div>
        </div>
        <div layout layout-sm="column">
          <div class="md-tile-content" flex>
            <p>dateOfBirth</p>
            <h3>{{guest.dateOfBirth | date}}</h3>
          </div>
          <div class="md-tile-content" flex>
            <p>idNumber</p>
            <h3>{{guest.idNumber}}</h3>
          </div>
        </div>
        <div class="md-tile-content" flex>
          <p>comment</p>
          <h3>{{guest.comment}}</h3>
        </div>
      </md-card>
    </md-content>
    <md-content>
      <md-button ng-click="cancel()">back</md-button>
    </md-content>
</md-dialog>